/*******************************************************************************
 * pouhiou.css
 *
 * Règles de style particulières pour les romans de Pouhiou.
 * Ne pas inclure dans un autre framabook (modification de styles par défaut)
 */

.hashtag {
  font-family: sans-serif;
}

.musique {
  font-style: normal;
  font-weight: bold;
}

.addenda {
  font-style: italic;
}

i.addenda {
  font-style: normal;
}
